body {
    background-image: url("C:\Users\jaehe\source\repos\mis-421-assignment-2-jquery-and-ajax-jaeheekim01\Images\giu-vicente-Q_SKLnop3Nc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#searchResults {
    display: none;
}

#time {
    display: none;
}